.menu-wrapper {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  padding: 5px;
}
.menus {
  display: flex;
  justify-content: space-between;
  width: 55%;
  flex-direction: row;
  font-size: 18px;
}
.menus span:hover {
  cursor: pointer;
  color: #2196f3;
  text-decoration: underline;
}
.menus span.active {
  cursor: pointer;
  color: #2196f3;
  text-decoration: underline;
}

.main-title {
  font-size: 22px;
  font-weight: bold;
  margin: 20px 0;
}
.main-home-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.movie-card-container {
  border: 2px solid #9e9e9e75;
  width: 220px;
  margin: 15px;
}
.movie-poster-container {
  height: 320px;
}
.movie-poster {
  width: 100%;
  height: inherit;
}
.movie-title {
  padding: 10px;
  font-weight: bold;
}
.movie-favorite {
  padding: 0 10px 10px 10px;
  cursor: pointer;
}

.no-data-found {
  width: 100%;
  text-align: center;
  margin-top: 50px;
  font-weight: bold;
  font-size: 20px;
}

.heart-icon {
  padding: 8px;
}
.heart-icon svg {
  width: 10px;
}
