.back-to-home {
  padding: 20px;
  border-bottom: 1px solid gray;
}

.back-to-home span {
  cursor: pointer;
  color: #2196f3;
  font-weight: bold;
}

.detail-container {
  margin: 20px;
  display: flex;
}

.movie-heading{
    font-size: 20px;
    font-weight: bold;
}

.movie-full-detail {
    margin-left: 20px;
    
}

.description {
    margin-top: 20px;
}

.description td {
    min-width: 150px;
}
